.button {
  padding: 0.75rem 1.25rem;
  margin: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
  border: 2px solid transparent;
}

.button:hover {
  transform: translateY(-5px);
}

.button:active {
  transform: translateY(0);
}