#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --background-primary: #808080;
  --background-secondary: #f5f5f5;
  --text-primary: #1f2937;
  --text-secondary: #012366;
  --border-color: #e5e7eb;
}

[chosen-theme='dark'] {
  --background-primary: #111827;
  --background-secondary: #1f2937;
  --text-primary: #f9fafb;
  --text-secondary: #9ca3af;
  --border-color: #374151;
}

* {
  transition: background-color 0.3s, color 0.3s;
}