.error-link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5px;
  transition: all 0.2s;
}

.error-link:hover {
  color: white;
}

.posts-page {
  padding: 2rem 0;
}

.view-all-link {
  text-decoration: none;
  transition: all 0.2s;
}

.view-all-link:hover {
  color: var(--accent-hover);
  text-decoration: underline;
}
